<div class="header">
  <div class="container clearfix">
    <%= link_to "WMS", root_path, class: "header-logo-wordmark" %>
    <ul id="user-links">
      <% if current_account %>
        <li><%= link_to current_account.name, '#' %></li>
        <li><%= link_to "Logout", logout_path, method: "delete" %></li>
      <% else %>
        <li><%= link_to "Sign up", signup_path %></li>
        <li><%= link_to "Sign in", login_path %></li>
      <% end %>
    </ul>
  </div>
</div>