<div class="menu-container">
  <ul class="menu">
    <li><a class="<%= request.path.start_with?('/wms/mer_inbound_commodities') ? "active":"" %>" href="/wms/mer_inbound_commodities">Forecast Inbound</a></li>
    <li><a class="<%= request.path.start_with?('/wms/mer_depot_inbound_batch_commodities') ? "active":"" %>" href="/wms/mer_depot_inbound_batch_commodities">Actual Inbound</a></li>
    <li><a class="<%= request.path == '/wms/mer_inventories' ? "active":"" %>" href="/wms/mer_inventories">Inventory</a></li>
    <li><a class="<%= request.path == '/wms/mer_inventories/commodity_search' ? "active":"" %>" href="/wms/mer_inventories/commodity_search">Commodity Search</a></li>
    <li><a href="#">Work Statistics</a></li>
    <li><a class="<%= request.path.start_with?('/wms/depots')? "active":"" %>" href="/wms/depots/show">Depot Configuration</a></li>
  </ul>
</div>