<% if @mer_inbound_commodities.count > 0 %>
  <table class="table table-bordered">
    <thead>
      <tr>
        <th width="10%">tp_serial_id</th>
        <th width="10%">inbound<br/>no</th>
        <th width="10%">scheduled<br/>time</th>
        <th width="8%">status</th>
        <th width="8%">updated<br/>flag</th>
        <th width="8%">inbound<br/>status</th>
        <th width="12%">merchant</th>
        <th width="10%">commodity<br/>owner</th>
        <th width="8%">memo</th>
        <th width="16%">Operation</th>
      </tr>
    </thead>
    <tbody>
      <% @mer_inbound_commodities.each do |mic| %>
        <tr>
          <td><%=mic.tp_serial_id%></td>
          <td><%=mic.inbound_no%></td>
          <td><%=mic.scheduled_time.strftime("%Y-%m-%d")%></td>
          <td><%=mic.status%></td>
          <td><%=mic.updated_flag%></td>
          <td><%=mic.inbound_status%></td>
          <td><%=mic.merchant.name%></td>
          <td><%=mic.commodity_owner%></td>
          <td><%=mic.memo%></td>
          <td>
            <% if mic.status=="created" %>
              <%=link_to "canceled", "mer_inbound_commodities/#{mic.id}/status?status=rejected", class: "button minibutton danger", style: "display: inline;"%>&nbsp;
              <%=link_to "accepted", "mer_inbound_commodities/#{mic.id}/status?status=accepted", class: "button minibutton primary", style: "display: inline;"%>&nbsp;
            <% end %>
            <%=link_to "show skus", mer_inbound_commodity_path(mic), class: "button minibutton primary", style: "display: inline;"%>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
